<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./client/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
	<link rel="stylesheet" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
	<link rel="stylesheet" href="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
	<script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
	<script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
	<link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.js"></script>
	<script src="https://unpkg.com/split-type"></script>
	<title>Project</title>
</head>

<body>
	<header id="header">
		<h1 id="title">TENARSE</h1>
		<h2 id="subt">BOXHEAD</h2>
	</header>
	<v-app id="app">
		<v-container fill-height v-if="auth == undefined">
			<v-row justify="center" align-items="center">
				<v-col cols="10" sm="auto">
					<v-card width="448" height="500" elevation="8" outlined color="grey lighten-2">
						<v-card-text>
							<v-card-title
								style="text-shadow: 0px 35px 1px #000000; margin-top: 30px; font-size: 3rem; font-weight: bold; color: red;font-family: 'Bebas Neue'; ">
								LOGIN</v-card-title>
							<v-text-field clearable ref="inputRef2" id="user" v-model="username" color="red"
								style="margin-top: 80px;" outlined label="User" append-icon="mdi-account">
							</v-text-field>
							<v-text-field clearable ref="inputRef" id="pass" color="red" v-model="pass"
								style="margin-top: 20px; margin-bottom: 20px;" outlined
								:type="showPassword ? 'text' : 'password'" label="Password"
								:append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
								@click:append="showPassword = !showPassword">
							</v-text-field>
							<v-row justify="center" align-items="center">
								<v-btn @click="getAuth" color="red">Sign In</v-btn>
							</v-row>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-container>


		<v-container fill-height v-if="auth == true && ready == 0">
			<div class="Character">
			</div>
			<v-row justify="center" align-items="center">
				<div class="progress">
					<div class="progress__fill"></div>
				</div>
			</v-row>

		</v-container>

		<v-container class="conta" fill-height fluid v-if="auth == true && ready == 1">
			
				<v-row justify="center" >
					<h3>CharacterS</h3>
				</v-row>
				<v-row justify="center" align-items="center">
					<v-card width="300px" elevation="8" class="ml-10 mb-10"  outlined >
						<v-img height="272px">
							<div class="jug1"></div>
						</v-img>
						<v-card-title class="pb-0">
							AXE
						</v-card-title>
						<v-card-actions>
							
							<v-btn color="red" text>
								Select
							</v-btn>
						</v-card-actions>
					</v-card>
					<v-card width="300px" class="ml-10 mb-10" elevation="8" outlined>
						<v-img height="272px">
							<div class="jug2"></div>
						</v-img>
						<v-card-title class="pb-0">
							WarHammer
						</v-card-title>
						<v-card-actions>
							<v-btn color="red" text>
								Select
							</v-btn>
						</v-card-actions>
					</v-card>
					<v-card width="300px" class="ml-10 mb-10" elevation="8" outlined >
						<v-img height="272px">
							<div class="jug3"></div>
						</v-img>
						<v-card-title class="pb-0">
							Shield
						</v-card-title>
						<v-card-actions>
							<v-btn color="red" text>
								Select
							</v-btn>
						</v-card-actions>
					</v-card>
			</v-row>
		</v-container>

	</v-app>
</body>
<script src="./client/index.js"></script>
<script>vue_app.getSession()</script>

</html>
