h1 {
	font-size: 7rem;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	line-height: 5.9rem;
	color: red;
}
h3{
	font-size: 6rem;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	color: red;
}
.styleBtn{
	background-color: transparent; 
	border: none; 
	color: red; 
	font-family: 'Bebas Neue'; 
	font-size: 22px; 
	text-transform: uppercase; 
	font-weight: bold;
	margin-left: 10px;
}

h4{
	font-size: 4rem;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	color: red;
}

.dialog_title{
	font-size: 3rem;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	color: red;
	text-align: center;
}

.v-image__image--cover{
	background-size: unset !important;
}

@media (max-width: 827px){
	.pepe{
		display: none;
	}
}


.dialog_vel{
	font-size: 1.5rem;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	color: grey;
}
body {
	background-color: black;
}

header {
	display: grid;
	place-content: center;
	height: 100vh;
}

.char {
	transform: translateY(-115px);
	transition: transform .7s;
	color: red;
}

.char2 {
	transform: translateY(115px);
	transition: transform .7s;
	color: red;
}
#app{
	background-color: black;
}
h2 {
	font-size: 4rem;
	text-transform: uppercase;
	font-family: 'Bebas Neue';
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	line-height: 5.9rem;
}


.Character{
	transform: translate(-50%, -50%);
	width: calc(778px / 9);
	height: 94px;
	position: absolute;
	background: url(./sprites/walking2.png);
	animation: moveSp 0.7s steps(9) infinite, runSp 10s linear;
}

.conta{
	min-height: 100%;
	background: linear-gradient( rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgb(185, 49, 49) 100%);
	animation: colors 5s ease-in-out infinite;
	background-size: 200% 200%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
	width: 100%;
  }

  
.card-container {
    display: flex;
	flex-wrap: wrap;
	margin: 0;
	width: 80%;
  }

  .card {
    width: calc(300px - 16px);
    margin: 12px;
  }
  .drop-zone-active {
	background-color: white;
  }
.stat-3{
	transform: translate(-50%, -50%);
	width: calc(1050px / 7);
	height: 150px;
	left: 50%;
	top: 50%;
	position: absolute;
	background: url(./sprites/zombi1.png);	
}

.stat-4{
	transform: translate(-50%, -50%);
	width: calc(1050px / 7);
	height: 150px;
	left: 50%;
	top: 50%;
	position: absolute;
	background: url(./sprites/zombi2.png);	
}

.stat-0{
	transform: translate(-50%, -50%);
	width: calc(1200px / 8);
	height: 160px;
	left: 50%;
	top: 50%;
	position: absolute;
	background: url(./sprites/cross2.png);	
}


.stat-1{
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: calc(1394px / 8);
	height: 175px;
	left: 50%;
	top: 50%;
	position: absolute;
	background: url(./sprites/warm1.png);
}


.stat-2{
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: calc(1200px / 8);
	height: 150px;
	left: 50%;
	top: 50%;
	position: absolute;
	background: url(./sprites/shield2.png);
}


.zombie{
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: calc(1273px / 8);
	height: 150px;
	left: 50%;
	top: 50%;
	position: absolute;
	background: url(./sprites/skeletoAnim.png);
}

.new_zom2{
	transform: translate(-50%, -50%);
	overflow: hidden;
	width: calc(1275px / 8);
	height: 150px;
	left: 50%;
	top: 50%;
	position: absolute;
	background: url(./sprites/animacionCaba.png);
}


.zombie:hover{
	position: absolute;
	animation: moveNewZom 1.3s steps(8) infinite;
}
.new_zom2:hover{
	position: absolute;
	animation: moveNewZom2 1.3s steps(8) infinite;
}

.stat-0:hover{
	position: absolute;
	animation: moveJu 1.3s steps(8) infinite;
}


.stat-1:hover{
	position: absolute;
	animation: moveJu2 1.3s steps(8) infinite;
}
.stat-2:hover{
	position: absolute;
	animation: moveJu3 1.3s steps(8) infinite;
}

.stat-3:hover, .stat-4:hover{
	position: absolute;
	animation: moveZo 1.3s steps(7) infinite;
}

@keyframes colors{
	0%{background-position:0% 70%}
    50%{background-position:0% 40%}
    100%{background-position:0% 70%}
}

@keyframes moveJu{

	from{
		background-position: 0;
	}
	to{
		background-position: 1200px;
	}
}

@keyframes moveJu2{

	from{
		background-position: 0;
	}
	to{
		background-position: 1394px;
	}
}

@keyframes moveJu3{

	from{
		background-position: 0;
	}
	to{
		background-position: 1200px;
	}
}

@keyframes moveZo{


	from{
		background-position: 0;
	}
	to{
		background-position: 1050px;
	}
}

@keyframes moveNewZom{
	from{
		background-position: 0;
	}
	to{
		background-position: 1273px;
	}
}

@keyframes moveNewZom2{
	from{
		background-position: 0;
	}
	to{
		background-position: 1275px;
	}
}



@keyframes moveSp {

	from{
		background-position: 0;
	}

	to{
		background-position: 778px;
	}

}

@keyframes runSp{
	0%{
		left: 42%;
	}

	100%{
		left: 80%;
	}
}


.progress {
	position: relative;
	width: 300px;
	height: 20px;
	background: none;
	border-radius: 5px;
	overflow: hidden;
  }
  
  .progress__fill {
	width: 0%;
	height: 100%;
	background: red;
	animation: load 4s forwards cubic-bezier(0, 0, 0, 0);
  }

  @keyframes load {
	  0%{
		width: 0%;
	  }

	  100%{
		  width: 100%;
	  }
  }

  .users {
    border: 2px solid grey;
    padding: 10px;
	position: relative;
	transition: 0.7s;
  }


  .users:hover {
	border-color: red;
	cursor: pointer;
  }